:root {
    --ctp-text: #cdd6f4;
    --ctp-bg: #1e1e2e;
    --ctp-green: #a6e3a1;
    --tridactyl-bg: #000000 !important;
    --tridactyl-fg: #14C805 !important;
    --tridactyl-cmdl-font-size: 4rem;
    --tridactyl-cmdl-height: 4;
}

